main {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 300px;
    background-color: #200c05;
    margin: 0 auto;
    border-radius: 20px;
}

.left {
    border-right: 2px solid white;
    height: 230px;
    margin-top: 20px;
    padding-right: 68px;
    margin-left: -49px;
}

h1 {
    color: white;
}

p {
    color: #fed9b5;
    width: 150px;
}

span {
    font-weight: 700;
}

button {
    color: white;
    background-color: cornflowerblue;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    font-weight: 600;
}

.img1 {
    width: 80px;
    height: 80px;
    margin-left: 10vw;
    margin-top: 1vw;
    border-radius: 15%;
}

.img2 {
    width: 80px;
    height: 80px;
    margin-left: 2vw;
    margin-top: 2vw;
    border-radius: 15%;
}

.img3 {
    width: 80px;
    height: 80px;
    margin-left: 10vw;
    margin-top: -2vw;
    border-radius: 15%
}